body{
    font-family: monospace;
    font-size: 18px;    
}

h1 {
    color: green;
    font-size: 42px;
}

h2 {
    color: fuchsia;
    font-size: 24px;
}
p{
    font-family: cursive;
    font-size: 16px;
    text-align: justify;
}
